<!DOCTYPE html>
<html>
<head>
  <title>EmberCliRailsHeroku</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= include_ember_script_tags :frontend %>
<%= include_ember_stylesheet_tags :frontend %>
</body>
</html>
